h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    vertical-align: middle;
}


h1, h2{
    margin-left: 10px;
}

.tweetBlock {
    background-color: rgba(0, 188, 212, 0.16)!important;
}