body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    vertical-align: middle;
}


.fakeTweet{
    width: 99%;
}

h1, h2{
    margin-left: 10px;
}

h2.gray{
    color:darkgray;
}

h2.blur{
    filter: blur(2px);
}

.tweetBlock {
    background-color: rgb(232, 232, 232)!important;
}

.blockListCenter{
    padding: 20px;
    margin: 20px auto;
    width: 200px;
}

.retweet{
    background-color: rgba(192, 229, 253, 0.18);
    margin: -5px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgba(125, 207, 255, 0.3);
}

.retweet-Name{
    font-weight: bold;
}

.retweet-Time{
    color: #757580;;
    margin-bottom: 10px;
}

.verified-tick{
    width: 18px;
    vertical-align: middle;
    margin-left: 5px;
}